.popup__container {
  margin: 0 auto;
  width: 508px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  gap: 8px 0;
}

@media (max-width: 544px) {
  .popup__container {
    width: 356px;
    gap: 12px 0;
  }
}

@media (max-width: 380px) {
  .popup__container {
    width: 282px;
    gap: 16px 0;
  }
}
